body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

header {
  background-color: #323d47;
  color: #ffffff;
  border-bottom: 3px solid #a9b4bf;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #b2bbc5;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.description {
  white-space: pre-wrap;
}

.timeblock {
  display: flex;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
  margin-top: 5px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid #b2bbc5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
